.site-header {
  position: fixed;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  // padding: 8px 24px;
  background-color: transparent;
  z-index: 1000;

  // @include mq($screen-md) {
  //   padding: 16px 48px;
  // }
}


.site-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;

  @include mq($screen-md) {
    padding: 16px 48px;
  }

  &--primary {
    z-index: 1000;
  }
}

.site-header__title {
  position: absolute;
  top: 128px;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: $font-primary;
  font-size: 70px;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
  color: $white;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease-in-out;

  @include mq($screen-lg) {
    top: 12px;
  }

  @media screen and (max-height: 420px) and (max-width: 812px) {
    font-size: 32px;
    top: 56px;
  }

  &.is-active {
    opacity: 1;
    transform: scale(1);
  }
}

.logo {
  color: white;
  font-family: $font-secondary;
  margin: 0;
}

.icon-list {
  display: flex;
}

.icon-list__item {
  margin: 0 2px;
}

.icon-list__link {
  position: relative;
  display: block;
  padding: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  @include mq($screen-sm) {
    width: 48px;
    height: 48px;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: translate3d(-50%, 0, 0);
    background-color: $tan;
  }

  &:focus,
  &:active,
  &:hover {
    outline: 0;

    &:before {
      opacity: 1;
      width: 30px;
    }
  }
}

.icon-list__icon {
  position: relative;
  font-size: 24px;
  color: $white;
  transition: color 0.2s ease-in-out;
}