.site-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 24px;
  background-color: transparent;
  z-index: 1000;

  @include mq($screen-md) {
    padding: 16px 48px;
  }
}

.logo {
  color: white;
  font-family: $font-secondary;
  margin: 0;
}

// .logo__link {}

.icon-list {
  display: flex;
}

.icon-list__item {
  margin: 0 2px;
}

.icon-list__link {
  position: relative;
  display: block;
  padding: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  @include mq($screen-sm) {
    width: 48px;
    height: 48px;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: translate3d(-50%, 0, 0);
    background-color: $tan;
  }

  &:focus,
  &:active,
  &:hover {
    outline: 0;

    &:before {
      opacity: 1;
      width: 30px;
    }
  }
}

.icon-list__icon {
  position: relative;
  font-size: 24px;
  color: $white;
  transition: color 0.2s ease-in-out;

  // .icon-list__link:hover & {
  //   // color: $accent;
  //   // color: $tan;
  //   // color: $black;
  // }
}