.video-player {
  position: relative;
  width: 100%;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    height: 30%;
    width: 100%;
    left: 0;
    pointer-events: none;
  }

  &:before {
    top: 0;
    background-image: linear-gradient($black, transparent);
  }

  &:after {
    bottom: 0;
    background-image: linear-gradient(transparent, $black);
  }
}

.video-player__video {
  max-height: 100vh;
}

.video-player__btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  color: $white;
  transform: translate(-50%, -50%);
}


.video-player__btn.btn--play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  z-index: 10;
  transform: translate(-50%, -50%);

  .video-player__btn-icon {
    font-size: 32px;
  }
}

.video-player__btn.btn--expand {
  position: absolute;
  top: 100%;
  right: 0;
  width: 48px;
  height: 48px;
  z-index: 10;

  @include mq($screen-xl) {
    display: none;
  }

  .video-player__btn-icon {
    opacity: 0.2;
  }
}
