$font-primary:    "American Label Rough", serif;
$font-primary1:    "American Label", serif;
$font-primary2:    "American Label Strip", serif;
// $font-primary:    "Oswald", serif;
$font-secondary:  "Permanent Marker", serif;

$white:   #FFFFFF;
$black:   #000000;
$accent:  #9BD1FA;

$screen-xxs:  320px;
$screen-xs:   375px;
$screen-sm:   480px;
$screen-md:   768px;
$screen-lg:   992px;
$screen-xl:   1200px;
$screen-xxl:  1400px;